<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Manoj Nayal. It uses data from mapbox.com and weatherstack.com</p>
        <img class="portrait" src="/img/manoj.jpg">
    </div>
    
    {{>footer}}
</body>

</html>